/* ----------------  */
/* Custom Properties */
/* ----------------  */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
	--clr-lime-green: 163, 72%, 41%;
	--clr-bright-red: 356, 69%, 56%;
	--clr-facebook: 208, 92%, 53%;
	--clr-twitter: 203, 89%, 53%;
	--clr-youtube: 348, 97%, 39%;

	/* neutral colors for dark & light theme in seperate css-file */

	--fs-900: 3.5rem;
	--fs-700: 2rem;
	--fs-600: 1.75rem;
	--fs-500: 1.5rem;
	--fs-400: 0.875rem;
	--fs-300: 0.75rem;

	--fw-700: 700;
	--fw-400: 400;

	--ff-sans: 'Inter', sans-serif;
}

/* ----------------  */
/* Reset             */
/* ----------------  */

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-weight: 400;
}

body {
	font-family: var(--ff-sans);
	font-size: var(--fs-400);
	background-color: hsl(var(--clr-bg));
	color: hsl(var(--clr-text-01));
	line-height: 1.5;
}

img,
picture {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* -----------------  */
/* Utility Classes    */
/* -----------------  */

/* General */

.flex {
	display: flex;
	gap: var(--gap, 1rem);
}

.align-center {
	align-items: center;
}

.align-end {
	align-items: end;
}

.justify-between {
	justify-content: space-between;
}

.grid {
	display: grid;
	gap: var(--gap, 1rem);
}

.d-block {
	display: block;
}

.flow > *:where(:not(:first-child)) {
	margin-block-start: var(--flow-space, 1rem);
}

.flow--space-small {
	--flow-space: 0.75rem;
}

.custom-gap {
	--gap: 5px;
}

.wrapper {
	margin-inline: auto;
	width: min(calc(100% - 2em), 69rem);
	transition: all 1s ease;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

[hidden] {
	display: none;
}

.skip-to-content {
	position: absolute;
	z-index: 9999;
	background-color: hsl(var(--clr-white));
	color: hsl(var(--clr-dark));
	padding: 0.5em 1em;
	margin-inline: auto;
	transform: translateY(-100%);
	transition: transform 500ms ease-in-out;
}

.skip-to-content:focus {
	transform: translateY(0);
}

/* Colors */

.text-01 {
	color: hsl(var(--clr-text-01));
}
.text-02 {
	color: hsl(var(--clr-text-02));
}
.text-lime-green {
	color: hsl(var(--clr-lime-green));
}
.text-bright-red {
	color: hsl(var(--clr-bright-red));
}

.example-component {
	background-color: hsl(var(--clr-light) / 0.2);
}

/* Typography */

.letter-spacing-1 {
	letter-spacing: 5px;
}
.letter-spacing-2 {
	letter-spacing: 2.7px;
}
.letter-spacing-3 {
	letter-spacing: 2.35px;
}

.uppercase {
	text-transform: uppercase;
}

.fs-900 {
	font-size: var(--fs-900);
}
.fs-700 {
	font-size: var(--fs-700);
}
.fs-600 {
	font-size: var(--fs-600);
}
.fs-500 {
	font-size: var(--fs-500);
}
.fs-400 {
	font-size: var(--fs-400);
}
.fs-300 {
	font-size: var(--fs-300);
}

.fw-700 {
	font-weight: var(--fw-700);
}

.fw-400 {
	font-weight: var(--fw-400);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
	line-height: 1;
}

/* ----------------  */
/* Components        */
/* ----------------  */

header {
	padding-top: 36px;
}

.bg-top {
	position: relative;
	background-color: hsl(var(--clr-top-bg));
}

.bg-top::after {
	content: '';
	width: 100%;
	height: 100px;
	background-color: hsl(var(--clr-top-bg));
	position: absolute;
	bottom: -85px;
	left: 0;
	z-index: -1;
	border-radius: 20px;
}

.toggle-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid hsl(var(--clr-text-01));
	padding-top: 1rem;
	margin-top: 1.5rem;
}

@media (min-width: 60.5em) {
	.bg-top::after {
		height: 120px;
		bottom: -110px;
	}

	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.toggle-container {
		margin-top: unset;
		padding-top: unset;
		border: unset;
		gap: 1rem;
	}
}

.cards-container {
	padding-block: 40px 48px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
	gap: 24px;
}

.card {
	border-radius: 5px;
	background-color: hsl(var(--clr-card-bg));
	padding-block: 2rem 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 1.75rem;
}

.profile-card {
	text-align: center;
	align-items: center;
	position: relative;
}

.profile-card dl {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

.profile-card dd {
	margin-inline: auto;
}

.profile-card:nth-of-type(1) {
	border-top: 4px solid hsl(var(--clr-facebook));
}
.profile-card:nth-of-type(2) {
	border-top: 4px solid hsl(var(--clr-twitter));
}
.profile-card:nth-of-type(3)::before {
	content: '';
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 4px;
	top: 0;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	background-image: linear-gradient(
		45deg,
		hsl(37, 97%, 70%),
		hsl(329, 70%, 58%)
	);
}
.profile-card:nth-of-type(4) {
	border-top: 4px solid hsl(var(--clr-youtube));
}

.stats-card {
	padding: 1.5rem;
	gap: 1.5rem;
}

span {
	display: grid;
	place-content: center;
}

/* ----------------  */
/* Page Specific     */
/* ----------------  */

.switch {
	position: relative;
	display: inline-block;
	width: 48px;
	height: 24px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: linear-gradient(
		-45deg,
		hsl(var(--clr-toggle-bg-01)),
		hsl(var(--clr-toggle-bg-02))
	);
	transition: 0.4s;
}

.slider::before {
	position: absolute;
	content: '';
	height: 18px;
	width: 18px;
	left: 3px;
	bottom: 3px;
	background-color: hsl(var(--clr-card-bg));
	transition: 0.4s;
}

input:checked + .slider {
	background-image: linear-gradient(
		-45deg,
		hsl(var(--clr-toggle-bg-01)),
		hsl(var(--clr-toggle-bg-02))
	);
}

input:checked + .slider::before {
	transform: translateX(24px);
}

.slider.round {
	border-radius: 12px;
}

.slider.round:before {
	border-radius: 50%;
}

/* ----------------  */
/* Layout            */
/* ----------------  */

/* Footer */
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
