/* ----------------  */
/* Theme Light       */
/* ----------------  */

:root {
	--clr-bg: 0, 0%, 100%;
	--clr-top-bg: 225, 100%, 98%;
	--clr-card-bg: 227, 47%, 96%;
	--clr-text-02: 228, 12%, 44%;
	--clr-text-01: 230, 17%, 14%;

	--clr-toggle-bg-01: 230, 22%, 74%;
	--clr-toggle-bg-02: 230, 22%, 74%;
}
