/* ----------------  */
/* Theme Dark        */
/* ----------------  */

:root {
	--clr-bg: 230, 17%, 14%;
	--clr-top-bg: 232, 19%, 15%;
	--clr-card-bg: 228, 28%, 20%;
	--clr-text-02: 228, 34%, 66%;
	--clr-text-01: 0 0% 100%;

	--clr-toggle: linear gradient 210, 78%, 56% to 146, 68%, 55%;
}
